.question {
    font-size: 2.5rem;
}

.answer {
    height: 100px;
}

input[type=text] {
    border: none;
    background-color: #FFFFFF;
    outline: 0;
    font-size: 20px;
    text-align: center;
    font-family: "Segoe UI", "Courier New", monospace;
    width: 700px;
    border-radius: 20px;
    height: 50px;
    margin:0 auto;
  }
  
  input[type=text]:focus {
    border: none;
    background-color: #FFFFFF;
    outline: 0;
    width: 700px;
    border-radius: 20px;
    height: 50px;
  }


  .button_1 {
    color: #007BFF;
    border: 2px solid ;
    border-radius: 70px;
    width:200px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Segoe UI", Monaco, monospace;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 ;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  .button_2:hover {
    box-shadow: inset 400px 0 0 0;
  }
  

  

  